{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} | The Super Todos{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/gijgo.min.css' %}">
</head>
<body>

<div class="container">
    <nav class="nav my-5">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
        <a class="nav-link" href="{% url 'todo_create' %}">Create a new todo</a>
    </nav>
    {% include "main/partials/messages.html" %}
    {% block main_content %}{% endblock main_content %}
</div>
<script src="{% static 'main/jquery.min.js' %}" charset="utf-8"></script>
<script src="{% static 'main/gijgo.min.js' %}" charset="utf-8"></script>
<script type="text/javascript">
    $("#id_due_date").datepicker(
        { uiLibrary: 'bootstrap4', iconsLibrary: 'materialicons' }
    );
</script>
</body>
</html>
