{% extends "main/base.html" %}

{% block title %} Home {{ block.super }}{% endblock title %}

{% block main_content %}
    <p>Today is {{ today }}</p>
    <p>{{ app_name }}</p>

    <h3>Our todos</h3>
    <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Done</th>
        <th scope="col">Due date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'todo_update' pk=todo.pk %}">{{ todo.title }}</a></td>
            <td>{{ todo.description|truncatewords:5 }}</td>
            <td>{{ todo.done|yesno:"Yes,No" }}</td>
            <td>{{ todo.due_date }}</td>
            <td><a class="btn btn-info" href="{% url 'todo_detail' pk=todo.pk %}">Show</a></td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
{% endblock main_content %}
