{% extends "main/base.html" %}

{% load crispy_forms_tags %}
{% block title %}Create a new todo {{ block.super }}{% endblock title %}

{% block main_content %}
    <form class="" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit" name="button">Save</button>
    </form>
{% endblock main_content %}
